@media (max-width: 768px) {
  #nav-menu {
    position: absolute;
    top: calc(60px + 0.5rem);
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
  }

  #nav-menu.show {
    visibility: visible;
    opacity: 1;
  }

  #nav-menu .nav_link {
    padding: 0;
    width: 100%;
  }

  #nav-menu .nav_link a {
    padding: 1rem 3rem;
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  #nav-menu .nav_link + .nav_link a {
    border-block-start: 1px solid #f1faee;
  }
}

button#nav-toggle {
  width: 30px;
}

button#nav-toggle span {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 3px;
  transition: all 500ms;
  position: relative;
  background-color: #fff;
}

button#nav-toggle span + span {
  margin-block-start: 5px;
}

button#nav-toggle.toggle span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

button#nav-toggle.toggle span:nth-of-type(2) {
  opacity: 0;
  visibility: hidden;
}

button#nav-toggle.toggle span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
