nav {
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 60px;
}

.nav_link {
  transition: color 0.3s ease-in-out;
}

#nav-menu {
  background-color: inherit;
}

@media (max-width: 640px) {
  #nav-menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }

  #nav-menu.show {
    visibility: visible;
    opacity: 1;
  }

  #nav-menu .nav_link {
    padding: 0;
    width: 100%;
  }

  #nav-menu .nav_link a {
    border-block-start: 1px solid #e0e0e0;
    padding: 1rem 3rem;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
}
