.nav_link {
  transition: color 0.3s ease-in-out;
}

@media (max-width: 640px) {
  #nav-menu {
    position: absolute;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }

  #nav-menu.show {
    visibility: visible;
    opacity: 1;
  }

  #nav-menu .nav_link {
    padding: 0;
    width: 100%;
  }

  #nav-menu .nav_link a {
    border-block-start: 1px solid #c3c3c3;
    padding: 1rem 3rem;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
}

button#nav-toggle {
  width: 30px;
}

button#nav-toggle span {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 4px;
  background: #000;
  transition: all 0.3s;
  position: relative;
}

button#nav-toggle span + span {
  margin-block-start: 5px;
}

/* first line */
button#nav-toggle.on span:nth-child(1) {
  animation: ease 500ms fl forwards;
}

button#nav-toggle.off span:nth-child(1) {
  animation: ease 500ms fl-2 forwards;
}

/* second line */
button#nav-toggle.on span:nth-child(2) {
  animation: ease 500ms sl forwards;
}

button#nav-toggle.off span:nth-child(2) {
  animation: ease 500ms sl-2 forwards;
}

/* third line */
button#nav-toggle.on span:nth-child(3) {
  animation: ease 500ms tl forwards;
}

button#nav-toggle.off span:nth-child(3) {
  animation: ease 500ms tl-2 forwards;
}

@keyframes fl {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 9px;
    transform: rotate(0);
  }
  100% {
    top: 9px;
    transform: rotate(45deg);
  }
}

@keyframes fl-2 {
  0% {
    top: 9px;
    transform: rotate(45deg);
  }
  50% {
    top: 9px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes sl {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes sl-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tl {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 9px;
    transform: rotate(135deg);
  }
}

@keyframes tl-2 {
  0% {
    bottom: 9px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
