button#nav-toggle {
  width: 34px;
}

button#nav-toggle span {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 4px;
  background: #000;
  transition: all 0.3s;
  position: relative;
}

button#nav-toggle span + span {
  margin-block-start: 5px;
}

button#nav-toggle.toggle span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

button#nav-toggle.toggle span:nth-of-type(2) {
  opacity: 0;
  visibility: hidden;
}

button#nav-toggle.toggle span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
