@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text: rgb(255, 255, 255);
  --text-secondary: rgb(40, 255, 191);
  --text-dark: rgb(34, 40, 49);
  --background: rgb(34, 40, 49);
  --primary: rgb(113, 201, 206);
  --secondary: rgb(166, 227, 233);
  --font: "Poppins", sans-serif;
  --font-secondary: "DM Serif Display", serif;
}

html {
  scroll-behavior: smooth;
  color: var(--text);
  background-color: var(--background);
  font-family: var(--font);
}

.bg-dark {
  background-color: var(--background);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-dark {
  color: var(--text-dark);
}

.font-secondary {
  font-family: var(--font-secondary) !important;
}

nav {
  border-block-end: 0.5px solid var(--text);
  height: 50px;
}

nav .icon-line {
  background-color: var(--text);
  border-radius: 2px;
  height: 2px;
  transition: all 300ms ease-in-out;
  width: 26px;
}

nav .toggle .icon-line:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

nav .toggle .icon-line:nth-of-type(2) {
  opacity: 0;
  visibility: hidden;
}

nav .toggle .icon-line:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

#nav-menu .nav-link {
  text-transform: uppercase;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
  border-radius: 0.2rem;
}

#nav-toggle-btn {
  gap: 0.3rem;
}

@media (min-width: 640px) {
  #nav-menu {
    font-size: 1.25rem;
  }
}

@media (max-width: 640px) {
  #nav-menu {
    position: absolute;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    border-radius: 0.25rem;
    padding-block: 1rem;
    margin-inline: 1rem;
    margin-block-start: 1.5rem;
    color: var(--text-dark);
    background: var(--secondary);
    transition: all 300ms ease-in-out;
  }

  #nav-menu.show-on-mobile {
    visibility: visible;
    opacity: 1;
  }
}

#nav-closer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}

.absolute-full-page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#landing-content h1::selection,
#landing-content h2::selection,
#landing-content span::selection {
  background: var(--background);
}

#landing-content h1::-moz-selection,
#landing-content h2::-moz-selection,
#landing-content span::-moz-selection {
  background: var(--background);
}

#pic-container {
  z-index: -100;
  display: flex;
  align-items: end;
}

#pic-container img {
  width: 15rem;
  height: auto;
}

@media (min-width: 640px) {
  #pic-container img {
    width: 20rem;
  }
}

@media (min-width: 1024px) {
  #pic-container img {
    width: 25rem;
  }
}

#landing-background {
  z-index: -200;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
