@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(60px + 1rem);
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #f5f5f5;
  color: #1d3557;
}

/* Fallback for the browsers that does'nt support svh */
.h-dynamic-screen {
  height: 100vh;
}

@media (min-height: 100svh) {
  .h-dynamic-screen {
    height: 100svh;
  }
}

.custom-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

@media (min-width: 576px) {
  .custom-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1140px;
  }
}

.font-secondary {
  font-family: "DM Serif Display", serif;
}

#contact {
  background-image: url(../public/assets/pattern.png);
  box-shadow: 0px 0px 40px inset rgb(29, 53, 87, 0.5);
}

#contact form,
#projects .project_card {
  background-color: #fff;
}

.projects-container article + article {
  margin-block-start: 3rem;
}
